button{
    padding: 14px 28px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 28px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}